<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_Data</servlet-name>
        <servlet-class>com.admin.Add_Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login</servlet-name>
        <servlet-class>com.admin.Admin_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.admin.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>com.admin.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_doctors</servlet-name>
        <servlet-class>com.admin.Add_doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dlogin</servlet-name>
        <servlet-class>com.admin.Dlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSymptoms</servlet-name>
        <servlet-class>com.admin.AddSymptoms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detection</servlet-name>
        <servlet-class>com.algo.Detection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Data</servlet-name>
        <url-pattern>/Add_Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_doctors</servlet-name>
        <url-pattern>/Add_doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dlogin</servlet-name>
        <url-pattern>/Dlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSymptoms</servlet-name>
        <url-pattern>/AddSymptoms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detection</servlet-name>
        <url-pattern>/Detection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
